---
import { calculateDates } from './Calculate.astro';

---

<div class="" id="form-container">
  <form id="form" class="dark:text-stone-100">
    <div>
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" name="startDate">
    </div>
    <div>
      <label for="weeksToTests">Weeks to Tests</label>
      <input type="number" id="weeksToTests" name="weeksToTests">
    </div>
    <div>
      <label for="weeksToAlpha">Weeks to Alpha</label>
      <input type="number" id="weeksToAlpha" name="weeksToAlpha">
    </div>
    <div>
      <label for="weeksToProduction">Weeks to Production</label>
      <input type="number" id="weeksToProduction" name="weeksToProduction">
    </div>
  </form>
</div>
<style>

</style>
